name: Assignment Checker

on:
  schedule:
    - cron: '50 11 * * *'

jobs:
  check-assignments:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      
      - name: Setup JDK
        uses: actions/setup-java@v2
        with:
          java-version: '11' # veya uygun olan JDK s端r端m端n端 belirtin

      - name: Run Kotlin script
        run: kotlinc -script main.kts
